@import 'compass/reset';
@import '../stylesheets/normalize.min.css';
// @import "partials/h5bp";
@import 'partials/css_grid';
@import 'partials/theme-default';
@import 'partials/utils';
body {
  background-color: $color-primary;
}
.main-container {
  font-size: 15px;
  color: $text-color;
  .header {
    @include style-header-footer-links;
  }
  .magazine-title {
    vertical-align: middle;
    font-size: 60px;
    border-bottom: solid 2px rgba-secondary-2(7);
    padding-top: 20px;
    padding-left: 20px;
  }
  .content {
    .mainImage {
      display: inline-block;
      box-shadow: 5px 10px 10px darken(rgba-secondary-2(7), 10%);
      object-fit: cover;
      padding: 5px;
    }
    .articles {
      display: inline-block;
      height: 80%;
      overflow: hidden;
    }
    .article-heading {
      font-size: 25px;
    }
  }

  .footer {
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 12px;
    padding-top: 1.25em;
    padding-bottom: 1em;
  }
}
