@import "compass/reset";
@import "../stylesheets/normalize.min.css";
// @import "partials/h5bp";
@import "partials/grid";
@import "partials/theme-default";
@import "partials/utils";
body {
  background-color: $color-primary;
}
.main-container {
  font-size: 15px;
  color: $text-color;
  .header {
    @include style-header-footer-links;
  }
  .magazine-title {
    padding-top: span(0.5 narrow);
    vertical-align: middle;
    font-size: 60px;
    border-bottom: solid 2px rgba-secondary-2(7);
  }
  .content {
    .mainImage {
      @include span(10 wider);
      height: 80%;
      display: inline-block;
      margin: span(0.5 narrower);
      box-shadow: 5px 10px 10px darken(rgba-secondary-2(7), 10%);
    }
    .articles {
      display: inline-block;
      height: 80%;
      @include span(4 narrow);
      margin: span(0.5 narrower);
      overflow: hidden;
    }
    .article-heading {
      font-size: 25px;
    }
  }

  .footer {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    padding-top: gutter();
    padding-bottom: gutter();
  }
}

p {
  padding: 10px;
  margin: auto;
  column-count: 3;
}
