@import url(../stylesheets/normalize.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prata&display=swap");
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 37, ../sass/partials/_theme-default.scss */
* {
  font-family: "Prata", "Roboto Slab", "Helvetica", serif !important;
  line-height: 150% !important;
}

/* line 10, ../sass/partials/_css_grid.scss */
.main-container {
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: auto;
  height: 100vh;
}
/* line 15, ../sass/partials/_css_grid.scss */
.main-container .left-gutter {
  grid-row: 1/-1;
  grid-column: 1/2;
}
/* line 20, ../sass/partials/_css_grid.scss */
.main-container .right-gutter {
  grid-row: 1/-1;
  grid-column: 3/-1;
}
/* line 24, ../sass/partials/_css_grid.scss */
.main-container .page-content-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 8fr 30fr auto;
}
/* line 28, ../sass/partials/_css_grid.scss */
.main-container .page-content-container .header {
  grid-row: 1/2;
  background-color: #ffffff;
}
/* line 32, ../sass/partials/_css_grid.scss */
.main-container .page-content-container .magazine-title {
  grid-row: 2/3;
  background-color: #ffffff;
}
/* line 36, ../sass/partials/_css_grid.scss */
.main-container .page-content-container .footer {
  grid-row: 4/5;
  background-color: #e2e2e2;
}
/* line 41, ../sass/partials/_css_grid.scss */
.main-container .page-content-container .content {
  grid-row: 3/4;
  background-color: #ffffff;
}
/* line 44, ../sass/partials/_css_grid.scss */
.main-container .page-content-container .content .main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
/* line 53, ../sass/partials/_css_grid.scss */
.main-container .page-content-container .content .main-content .mainImage {
  grid-column: 1/2;
  height: 95%;
  width: 95%;
  grid-row: auto;
}
/* line 59, ../sass/partials/_css_grid.scss */
.main-container .page-content-container .content .main-content .articles {
  grid-column: 2/3;
  grid-row: auto;
}

/* line 7, ../sass/main.scss */
body {
  background-color: #ffffff;
}

/* line 10, ../sass/main.scss */
.main-container {
  font-size: 15px;
  color: black;
}
/* line 13, ../sass/main.scss */
.main-container .header {
  font-size: 12px;
}
/* line 23, ../sass/partials/_utils.scss */
.main-container .header .header-nav a {
  color: black;
}
/* line 2, ../sass/partials/_utils.scss */
.main-container .header .header-nav a:after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: all 300ms ease-in 50ms;
}
/* line 11, ../sass/partials/_utils.scss */
.main-container .header .header-nav a:hover:after {
  width: 100%;
}
/* line 27, ../sass/partials/_utils.scss */
.main-container .header .header-nav li:not(:last-child) {
  border-right: solid 1px #e2e2e2;
}
/* line 16, ../sass/main.scss */
.main-container .magazine-title {
  vertical-align: middle;
  font-size: 60px;
  border-bottom: solid 2px #e2e2e2;
  padding-top: 20px;
  padding-left: 20px;
}
/* line 24, ../sass/main.scss */
.main-container .content .mainImage {
  display: inline-block;
  box-shadow: 5px 10px 10px #c9c9c9;
  object-fit: cover;
  padding: 5px;
}
/* line 30, ../sass/main.scss */
.main-container .content .articles {
  display: inline-block;
  height: 80%;
  overflow: hidden;
}
/* line 35, ../sass/main.scss */
.main-container .content .article-heading {
  font-size: 25px;
}
/* line 40, ../sass/main.scss */
.main-container .footer {
  text-align: center;
  font-style: italic;
  font-weight: 800;
  font-size: 12px;
  padding-top: 1.25em;
  padding-bottom: 1em;
}
