@import url(../stylesheets/normalize.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prata&display=swap");
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 40, ../sass/partials/_theme-default.scss */
* {
  font-family: "Prata", serif !important;
  font-size: 15px;
}

/* line 44, ../sass/partials/_theme-default.scss */
p {
  margin: auto;
  column-count: 3;
  line-height: 1.25em;
}

/* line 20, ../sass/partials/_grid.scss */
.main-container {
  height: 100vh;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-size: 6.32911%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 12, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.main-container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 24, ../sass/partials/_grid.scss */
.main-container .header {
  height: 15vh;
  background-color: rgba(227, 227, 190, 0.6);
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 28, ../sass/partials/_grid.scss */
.main-container .footer {
  height: 5vh;
  background-color: rgba(203, 193, 209, 0.6);
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 32, ../sass/partials/_grid.scss */
.main-container .content {
  height: 80vh;
  background-color: rgba(255, 255, 234, 0.6);
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 40, ../sass/partials/_theme-default.scss */
* {
  font-family: "Prata", serif !important;
  font-size: 15px;
}

/* line 44, ../sass/partials/_theme-default.scss */
p {
  margin: auto;
  column-count: 3;
  line-height: 1.25em;
}

/* line 7, ../sass/main.scss */
a {
  color: rgba(255, 255, 234, 0.6);
}
/* line 9, ../sass/main.scss */
a:hover {
  color: rgba(255, 255, 234, 0.6);
}

/* line 14, ../sass/main.scss */
.main-container {
  background-image: url("../../img/header_background.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

/* line 21, ../sass/main.scss */
p {
  padding: 10px;
  color: white;
  opacity: 1;
}
